<h1>Editing Bar</h1>

<%= form_with scope: :bar, model: @bar, local: true do |form| %>
  <p>
    <%= form.label :name, 'Bar Name' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :business_hours, 'Business Hours' %><br>
    <%= form.time_field :business_hours %>
  </p>

  <p>
 		<%= form.label :image, 'Upload Bar Image' %><br>
		<%= form.file_field :image %>
  </p>

  <p>
  	 <%= form.label :address, 'Bar Address' %><br>
    <%= form.text_field :address %>
  </p>

	<p>
    <%= form.label :place_id, 'Place_Id' %><br>
    <%= form.text_field :place_id %>
  </p>

	<p>
    <%= form.label :lat, 'Latitude' %><br>
    <%= form.number_field :lat, class: :text_field, step: :any  %>
  </p>

	<p>
    <%= form.label :long, 'Longtitude' %><br>
    <%= form.number_field :long, class: :text_field, step: :any  %>
  </p>

	<p>
    <%= form.label :avg_price, 'Average Price (S$)' %><br>
    <%= form.number_field :avg_price, class: :text_field, step: :any %>
  </p>

	<p>
    <%= form.label :category_id, 'Type of Bar' %><br>
    <%= form.collection_select :category_id, @categories, :id, :name %>
  </p>

	<p>
    <%= form.label :owner_id, 'Owner Bar' %><br>
    <%= form.collection_select :owner_id, @owners, :id, :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', bars_path, class: 'btn btn-primary' %> |
<%= link_to 'Destroy', bar_path(@bar),
        			method: :delete,
        			data: { confirm: 'Are you sure you want to delete this bar?' },
							class: 'btn btn-secondary' %>
