<p id="notice"><%= notice %></p>

<h1>Bars</h1>

<!-- Checks if user is a bar owner -->
<% if user_signed_in? && current_user.type == 'Owner' %>
  <%= link_to 'New Bar', new_bar_path %>
<% end %>
<!-- Normal User -->
<% if user_signed_in? %>
  <%= link_to 'Log Out', destroy_user_session_url, method: :delete %>
  <% else %>
  <%= link_to 'Log In', new_user_session_url %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Business hours</th>
      <th>Images</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bars.each do |bar| %>
      <tr>
        <td><%= bar.name %></td>
        <td><%= bar.opening_hour %></td>
        <td><%= bar.closing_hour %></td>
        <td><%= bar.image %></td>
        <td><%= link_to 'Show', bar %></td>
        <td><%= link_to 'Favourite', bar %></td>
        <!-- Checks if user is owner of bar -->
        <% if user_signed_in? && current_user.id == bar.owner_id %>
          <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
          <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>