<p id="notice"><%= notice %></p>

<div class="page-header-container">
  <header>bars</header>
</div>

        <!--
          [48-(3*4)]/3 = 12
          12 * 30 = 360
        -->
        <div class="bars-list">
          <% @bars.each do |bar| %>
            <%= link_to bar_path(bar), :action => 'go' do %>
              <div class="card-container">
                <div class="card-body">
                  <div class="card-image">
                    <% if bar.image == nil %>
                      <%= '' %>
                    <% else %>
                      <%= cl_image_tag(bar.image) %>
                    <% end %>
                  </div>
                  <div class="card-details">
                    <h1><%= bar.name %></h1>
                    <p>
                      <div class="left-text">Distance</div>
                      <div class='latLong right-text' style='visibility:hidden'>
                        <%= bar.lat %>, <%= bar.long %>
                      </div>
                      <div class="dotted"></div>
                    </p>

                    <p>
                      <div class="left-text">Price per pint</div>
                      <div class="right-text">$<%= bar.avg_price %></div>
                      <div class="dotted"></div>
                    </p>
                  </div>
                </div>
                <div class="card-promos">
                  <%# if happy hour available lmao %>
                    <div class="card-promos-text">
                      Happy Hour available!
                    </div>
                </div>
                <div class="card-favorite">
                  <%# if haven't fav %>
                  <% if user_signed_in? %>
                    <% if current_user.favorited?(bar) %>
                      <%= link_to image_tag('faved.png', width: 35), unfavorite_bar_path(bar) %>
                    <% else %>
                      <%= link_to image_tag('fav.png', width: 35), favorite_bar_path(bar) %>
                    <% end %>
                  <% else %>
                    <%= link_to image_tag('fav.png', width: 35), new_user_registration_path %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <%# Conditionals for different users %>

        <%#= link_to 'Show', bar_path(bar), class: 'btn btn-secondary' %>

        <%# Checks if user is owner of bar %>
        <%# if user_signed_in? && current_user.id == bar.owner_id %>
          <%#= link_to 'Edit', edit_bar_path(bar), class: 'btn btn-secondary' %>
          <%#= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary' %>
        <%# end %>
