<h1>New Bar</h1>

<%= form_with scope: :bar, url: bars_path, local: true do |form| %>
  <p>
    <%= form.label :name, 'Bar Name' %><br>
    <% if params[:bar] != nil %>
    	<%= form.text_field :name, :value => params[:bar][:name]%>
    <% else %>
    	<%= form.text_field :name %>
    <% end %>
  </p>

	<p>
    <%= form.label :business_hours, 'Business Hours' %><br>
    <%= form.text_field :business_hours%>
  </p>

	<p>
    <%= form.label :image, 'Upload Bar Image' %><br>
    <%= form.file_field :image %>
  </p>

	<p>
    <%= form.label :address, 'Bar Address' %><br>
    <%= form.text_field :address %>
  </p>

	<p>
    <%= form.label :category_id, 'Type of Bar' %><br>
    <%= form.collection_select :category_id, @categories, :id, :name %>
  </p>

	<p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', bars_path %>
