<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Business hours:</strong>
  <%= @bar.business_hour %>
</p>

<p>
  <strong>Images:</strong>
  <img src = "<%= @bar.images %>"/>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @bar.phone %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bar.type_id.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bar.address %>
</p>


<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
