<p id="notice"><%= notice %></p>

        <% if user_signed_in? %>
          <% if current_user.favorited?(@bar) %>
            <td><%= link_to 'Unfavourite', unfavorite_bar_path(@bar), class: 'btn btn-secondary' %></td>
          <% else %>
            <td><%= link_to 'Favourite', favorite_bar_path(@bar), class: 'btn btn-secondary' %></td>
          <% end %>
        <% else %>
          <td><%= link_to 'Favourite', new_user_registration_path, class: 'btn btn-secondary' %></td>
        <% end %>

        <%# Checks if user is owner of bar %>
        <% if user_signed_in? && current_user.id == @bar.owner_id %>
          <td><%= link_to 'Edit', edit_bar_path(@bar), class: 'btn btn-secondary' %> </td>
          <td><%= link_to 'Destroy', @bar, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary' %></td>
        <% end %>
        <%= link_to 'Back', bars_path, class: 'btn btn-secondary' %>



<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Business hours:</strong><br>
  <% @bar.business_hours.split(',').each do |day| %>
    <%= day %><br>
  <% end %>
</p>

<p>
  <strong>Bar Image:</strong><br>
		<% if @bar.image == nil %>
			<%= '' %>
		<% else %>
			<%= cl_image_tag(@bar.image, :width => 200) %>
		<% end %>

</p>

<p>
  <strong>Bar Address:</strong>
  <%= @bar.address %>
</p>

<p>
  <strong>Place_id:</strong>

  <%= @bar.place_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @bar.lat %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @bar.long %>
</p>

<p>
  <strong>Average Price:</strong>
  $<%= @bar.avg_price %> per 2 pints
</p>

<p>
  <strong>Bar Category:</strong><br>
	<% @bar.categories.each do |cat| %>
		<%= cat.name %>
	<% end %>
</p>

<p>
  <strong>Name of Owner:</strong><br>
  <%= @bar.owner.name %>
</p>