<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Business hours:</strong>
  <%= @bar.business_hours %><br>
</p>

<p>
  <strong>Bar Image:</strong><br>
		<% if @bar.image == nil %>
			<%= '' %>
		<% else %>
			<%= cl_image_tag(@bar.image) %>
		<% end %>
</p>

<p>
  <strong>Bar Address:</strong>
  <%= @bar.address %>
</p>

<p>
  <strong>Type of Bar:</strong>
  <%= @bar.place_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @bar.lat %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @bar.long %>
</p>

<p>
  <strong>Average Price:</strong>
  <%= @bar.avg_price %>
</p>

<p>
  <strong>Bar Category (can't seem to make it appear as a word):</strong><br>
	<%= @bar.category_ids %>
</p>

<p>
  <strong>Name of Owner:</strong><br>
  <%= @bar.owner.name %>
</p>



<%= link_to 'Edit', edit_bar_path(@bar), class: 'btn btn-primary' %> |
<%= link_to 'Back', bars_path, class: 'btn btn-secondary' %>