<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Business hours:</strong>
  <%= @bar.business_hours %><br>
</p>

<p>
  <strong>Bar Image:</strong><br>
	<%= cl_image_tag(@bar.image) %>
</p>

<p>
  <strong>Bar Address:</strong>
  <%= @bar.address %>
</p>

<p>
  <strong>Category (dummy):</strong>
  <%= @bar.category %>
</p>

<p>
  <strong>Type of Bar:</strong>
  <%= @bar.place_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @bar.lat %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @bar.long %>
</p>

<p>
  <strong>Average Price:</strong>
  <%= @bar.avg_price %>
</p>

<p>
  <strong>Bar Category (somehow this data SEO can't seem to make it appear):</strong>

</p>

<p>
  <strong>Name of Owner:</strong>
  <%= @bar.owner.name %>
</p>



<%= link_to 'Edit', edit_bar_path(@bar), class: 'btn btn-primary' %> |
<%= link_to 'Back', bars_path, class: 'btn btn-secondary' %>
