<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Business hours:</strong>
  <%= @bar.opening_hour %><br>
	<%= @bar.closing_hour %><br>
</p>

<p>
  <strong>Bar Image:</strong>
  <%= @bar.image %>
</p>

<p>
  <strong>Bar Address:</strong>
  <%= @bar.address %>
</p>

<p>
  <strong>Type of Bar:</strong>
  <%= @bar.category %>
</p>


<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
