<style>
	#map{
		border: 1px solid black;
		margin: 10px 0px;
		height: 400px;
		width: 500px;
	}
	input{
		width: 200px;
	}
</style>

<div id='map'></div>
<script async type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC4vP8QnuK9A88LyIbgE9BzQw9G-1lMsGc&libraries=places&callback=initMap'></script>

<p id='notice'><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Business hours:</strong>

  <%= @bar.business_hours %><br>
</p>

<p>
  <strong>Bar Image:</strong><br>
		<% if @bar.image == nil %>
			<%= '' %>
		<% else %>
			<%= cl_image_tag(@bar.image) %>
		<% end %>

</p>

<p>
  <strong>Bar Address:</strong>
  <%= @bar.address %>
</p>

<p style='display:none'>
	<%= @bar.place_id %>
</p>

<p style='display:none' id='latitude'>
	<%= @bar.lat %>
</p>

<p style='display:none' id='longitude'>
	<%= @bar.long %>
</p>

<p>
  <strong>Average Price:</strong>
  <%= @bar.avg_price %>
</p>

<p>
  <strong>Bar Category (can't seem to make it appear as a word):</strong><br>
	<% index = 0 %>
	<% @bar.categories.each do |cat_name| %>%
		<%= @bar.categories[index].name %>
		<% index = index + 1 %>
	<% end %>
</p>

<p>
  <strong>Name of Owner:</strong><br>
  <%= @bar.owner.name %>
</p>



<%= link_to 'Edit', edit_bar_path(@bar), class: 'btn btn-primary' %> |
<%= link_to 'Back', bars_path, class: 'btn btn-secondary' %>